@keyframes show {
  0% {
    background: black;
  }
  20% {
    background: black;
    opacity: 0.5;
  }
  40% {
    background: black;
    opacity: 0.1;
  }
  60% {
    background: black;
    opacity: 0.5;
  }
  80% {
    background: black;
    opacity: 1;
  }
}